body {
    background-color: aquamarine;
}

.box_sobre_fantasma {
    border-radius: 5%;
    position: fixed;
    left: 30px;
    top: 45px;
    background-color: rgb(255, 255, 255);
    width: 690px;
    height: 600px;
    text-align: center;

}

.fotoFantasma{
    position: fixed;
    left: 60px;
    top: 80px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid rgb(0, 255, 213);
}

.nomeFantasma{
    position: fixed;
    left: 250px;
    top: 100px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(2, 46, 66);
}
 
.temperatura {
    position: fixed;
    left: 450px;
    top: 200px;
}
.Text_Historia{
    position: fixed;
    left: 60px;
    top: 250px;
}
.sobreFantasma{
    position: fixed;
    left: 60px;
    top: 310px;
    text-align: justify;
    font-size: 20px;
}

input {
    position: fixed;
    left: 640px;
    top: 590px;
}

.box_comoDerrotar{
    border-radius: 5%;
    position: fixed;
    left: 740px;
    top: 45px;
    background-color: rgb(255, 255, 255);
    width: 520px;
    height: 600px;
}
.Text_ComoDerrotar{
    position: fixed;
    left: 770px;
    top: 100px;
    color: rgb(131, 5, 5);
}
.comoDerrotar{
    position: fixed;
    left: 770px;
    top: 190px;
}
.fantasminha{
    position: fixed;
    left: 950px;
    top: 336px;
    width: 400px;
}